.role {
    position: absolute;
    width: 159px;
    height: 61px;
    left: 110px;
    top: 830px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.role2 {
    position: absolute;
    width: 171px;
    height: 36px;
    left: 269px;
    top: 842px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F3B67D;
}

.from {
    position: absolute;
    width: 140px;
    height: 62px;
    left: 111px;
    top: 863px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.055em;
    color: #C0C0C0;
}

.from2 {
    position: absolute;
    width: 122px;
    height: 51px;
    left: 265px;
    top: 869px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.055em;
    color: #F3B67D;
}